version: 2.1

orbs:
  node: circleci/node@2.0.1
  slack: circleci/slack@3.4.2

jobs:
  build-and-test:
    executor:
      name: node/default
      tag: '12.16'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          cache-key: yarn.lock
      - run: node --version
      - run: yarn --version
      - run: yarn test
      - slack/status

workflows:
  build-and-test:
    jobs:
      - build-and-test
