version: 2.1

orbs:
  node: circleci/node@2.0.1

jobs:
  build-and-test:
    executor:
      name: node/default
      tag: '12'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
          cache-key: yarn.lock
      - run: node --version
      - run: yarn --version
      - run: yarn test

workflows:
  build-and-test:
    jobs:
      - build-and-test
